@font-face {
  font-family: 'LexendRegular';
  src: url('./fonts/LexendDeca-Regular.ttf');
}

@font-face {
  font-family: 'LexendBold';
  src: url('./fonts/LexendDeca-Bold.ttf');
}

@font-face {
  font-family: 'LexendLight';
  src: url('./fonts/LexendDeca-Light.ttf');
}

/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

body {
  font-family: 'LexendRegular', sans-serif;
}

body * {
  font-family: 'LexendRegular', sans-serif;
}

#theWord {
  position: absolute;
  top: 120px;
  left: 16px;

  visibility: hidden;
  pointer-events: none;
}

#startButton {
  position: absolute;
  width: 200px;
  bottom: 120px;
  left: calc(50% - 100px);
  top: calc(50% - 32px);
  /* background: blue; */
  background: green;
  color: white;
  padding: 4px 0;
  border: none;
  height: 64px;
  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  /* Hide the start button */
  visibility: hidden;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.panel {
  position: fixed;
  background: #EFEFEF;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
}

.debug-panel {
  top: 8px;
  right: 8px;
  width: 200px;
  height: auto;
  background: #EFEFEF;

  font-size: 10px;

  visibility: hidden;
}

.panel-players {
  /* width: calc(100% - 8px);
  bottom: 40px;
  left: 4px; */
  
  /* top: 8px;
  right: 8px;
  width: 350px; */
  
  width: 100%;
  bottom: 65px;

  /* width: 200px; */
  padding-top: 8px;

  transition: all 0.25s ease;
}
@media screen and (min-width: 520px) {
  .panel-players {
    width: 350px;
  }
}

.player-row {
  /* display: flex; */
  display: grid;
  justify-content: space-between;
  grid-column-gap: 8px;
  transition: all 0.75s ease;
  opacity: 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.player-row.is-revealed {
  opacity: 1;
}
.player-row-bar {
  /* width: 100%; */
  width: 1%;
  height: 8px;
  background: #b5b5b5;

  /* transition: all 0.25s ease-in-out; */
  transition: all 0.25s cubic-bezier(0.58,-0.01, 0.62, 1.58);
  border-radius: 1px;

}
.panel-title {
  margin: 0;
  font-family: 'LexendLight', sans-serif;
  color: #6d6d6d;
}
.player-row-text {
  margin: 0;
}
.player-row-text {
  position: relative;
}
.player-row-text--isitme:before {
  content: '';
  position: absolute;
  left: -13px;
  background: blueviolet;
  width: 8px;
  height: 8px;
  top: 6px;
  border-radius: 10px;
}

.word-box-wrapper {
  /* width: 100%; */
  width: 100%;
  /* height: 80px; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 12px;

  z-index: 12;
  position: absolute;
  /* top: 64px; */
  top: 4px;
}
.word-box-wrapper.block-more-guessing {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .word-box-wrapper {
    width: 40%;
    /* top: 0; */
  }
}

/* countdown - start */
.panel-countdown {
  bottom: 0;
  width: 100%;
  height: 64px;
  padding: 10px;
  /* padding: 1rem; */
}
.countdown-fill.iscountingdown {
  animation: mymove 20s;
  animation-timing-function: linear;
}
.countdown-fill {
  width: 100;
  height: 100%;
  background: #1ed16e;
}
.countdown-number {
  position: absolute;
  left: 1rem;
  /* top: 50%; */
  /* top: -80px; */
  top: 5px;
  width: 64px;
  left: calc(50% - 32px);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 1;
  color: #fff;
}
@keyframes mymove {
  from {width: 100%;}
  to {width: 0%}
}
/* countdown - end */

.word-box {
  /* padding: 4px 12px; */
  padding: 3px 10px;
  background: #dfdfdf;
  border-radius: 2px;
  border-radius: 100px;
  font-size: 14px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.25s ease;
  box-sizing: border-box;
}
.word-box:hover {
  background: #c3c3c3;
}
.word-box.word-box--selected {
  /* border: 1px solid purple; */
  box-shadow: inset 0px 0px 0px 1px purple;
}
.word-box p {
  user-select: none;
  margin: 0;
  font-family: 'LexendLight', sans-serif;
}


/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
  visibility: hidden;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
